# Core dependencies
pandas>=2.0.0
numpy>=1.24.0


# For Streamlit UI (optional in CLI mode)
streamlit>=1.34.0


# For Yahoo Finance provider (optional)
yfinance>=0.2.40


# For Polygon provider (optional)
requests>=2.31.0

streamlit-aggrid>=0.3.4

matplotlib